@page "/notaFiscalPDF/{idNota}"
@page "/notaFiscalPDF"


@using BlazorApp5.Components.Layout
@layout AlterLayout

@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IFornecedorService fornecedorService
@inject IClienteService clienteService


@if (currentNF != null)
{
    <div>
        <div class="row" style="border: 2px solid black">
            <div class="col-sm-3" style="border-right: 2px solid black; padding-top: 10px; text-align:center">
                <div>
                    <img src="/logo_nfsd.png" height="40px" />
                </div>
                <div>
                    <img src="@imageQrCode" height="100px" />
                </div>
                <div>
                    <div style="font-size: 9px;">Consulte autenticidade via QR Code.</div>
                </div>
            </div>

            <div class="col-sm-6" style="border-right: 2px solid black; padding-top: 5px; text-align:center">
                <div>
                    <img src="/logo_prefeitura.png" height="80" style="margin-bottom: 10px;" />
                </div>
                <div>
                    <div style="font-size: 12px; font-weight:bold; margin-bottom: 0px">PREFEITURA MUNICIPAL DE PARAUAPEBAS - PA</div>
                    <div style="font-size: 12px; margin-bottom: 5px ">SECRETARIA MUNICIPAL DE FAZENDA - SEFAZ</div>
                    <div style="font-size: 12px; font-weight:bold; margin-bottom: 0px; padding: 0px ">NOTA FISCAL DE SERVIÇOS DIGITAL - NFSD</div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row" style="border-bottom: 2px solid black; height: 53px">
                    <div style="padding-left: 2px">
                        <div style="font-size: 12px; text-align: left; padding: 0px">Número da Nota</div>
                    </div>
                    <div style="text-align: right">
                        <h6 style="text-align: end; font-weight:bold ">@currentNF.NumeroNF.ToString()</h6>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid black; height: 53px">
                    <div style="padding-left: 2px">
                        <div style="font-size: 12px; text-align: left; padding: 0px">Data e Hora</div>
                    </div>
                    <div style="text-align: right">
                        <h6 style="text-align: end; font-weight:bold;">@currentNF.DataEmissao.ToString()</h6>
                    </div>
                </div>

                <div class="row" style="border-bottom: 2px ;">
                    <div style="padding-left: 2px">
                        <div style="font-size: 12px; text-align: left; padding: 0px">Código de Verificação</div>
                    </div>
                    <div style="text-align: right">
                        <h6 style="text-align: end; font-weight:bold;">@currentNF.CodigoValidacao.ToString()</h6>
                    </div>
                </div>

@*                 <div class="row" style="padding: 1px;">
                    <div style="padding-left: 2px">
                        <div style="font-size: 12px; text-align: left; padding: 0px">Código de Verificação</div>
                    </div>
                    <div style="text-align: right">
                        <h6 style="text-align: end; font-weight:bold; padding: 0px ">@currentNF.CodigoValidacao.ToString()</h6>
                    </div>
                </div> *@



            </div>
        </div>
        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div style="text-align:center; font-size: 15px; font-weight:bold">PRESTADOR DE SERVIÇOS</div>
            <div style="font-size:12px; margin-left: 40px">
                <div>Nome/Razão Social: <span style="font-weight:bold">@currentCliente.RasaoSocial.ToString()</span></div>
                <div>CPF/CNPJ: <span style="font-weight:bold">@Regex.Replace(@currentCliente.CNPJ_CPF.ToString(), @"(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})", "$1.$2.$3/$4-$5") </span> Domicílio Tributário Digital: <span style="font-weight:bold"> @currentCliente.Email.ToString()</span></div>
                <div>Município: <span style="font-weight:bold">@currentCliente.Cidade.ToString()</span> UF: <span style="font-weight:bold"> @currentCliente.Estado.ToString()</span> Inscrição Municipal: <span style="font-weight:bold">@currentCliente.Inscricao_Municipal.ToString()</span></div>
                <div>Endereço: <span style="font-weight:bold"> @currentCliente.Endereco.ToString() Nº @currentCliente.Numero.ToString() Bairro: @currentCliente.Bairro.ToString() - CEP: @currentCliente.CEP.ToString()</span></div>
                <p></p>
            </div>
        </div>
        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div style="text-align:center; font-size: 15px; font-weight:bold">TOMADOR DE SERVIÇO</div>
            <div style="font-size:12px; margin-left: 40px">
                <div>Nome/Razão Social: <span style="font-weight:bold">@currentFornecedor.RasaoSocial.ToString()</span></div>
                <div>CPF/CNPJ: <span style="font-weight:bold">@Regex.Replace(@currentFornecedor.CNPJ_CPF.ToString(), @"(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})", "$1.$2.$3/$4-$5")</span> E-mail: <span style="font-weight:bold">@currentFornecedor.Email.ToString()</span></div>
                <div>Município: <span style="font-weight:bold">@currentFornecedor.Cidade.ToString()</span> UF: <span style="font-weight:bold">@currentFornecedor.Estado.ToString()</span></div>
                <div>Endereço:<span style="font-weight:bold"> @currentFornecedor.Endereco.ToString() Bairro: @currentFornecedor.Bairro.ToString() - CEP: @currentFornecedor.CEP.ToString()</span></div>
                <p></p>
            </div>
        </div>
        <div class="row" style="height:250px; border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div style="text-align:center; font-size: 15px; font-weight:bold">
                DISCRIMINAÇÃO DOS SERVIÇOS
            </div>
            <div>
                <div style="font-size:12px; margin: 10px ; margin-top:-40px">@currentNF.DescricaoDoServico.ToString()</div>
            </div>
            <div class="row">
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div style="text-align:center; font-size: 18px; font-weight:bold">
                VALOR DA NOTA: @currentNF.ValorTotal.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
            </div>
        </div>
        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <p style="font-size:12px; margin-bottom: 0px">CNAE: 8532-5/00</p>
            <p style="font-size:12px; margin-bottom: 0px">Educação superior - graduação e pós-graduação</p>
            <p></p>
        </div>



        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div class="col-sm" style="border-right: 2px solid black;">
                <div class="row" style="border-bottom:2px solid black; ">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">PIS (0.0%)</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
                <div class="row">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">Deduções</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
            </div>

            <div class="col-sm" style="border-right: 2px solid black;">
                <div class="row" style="border-bottom:2px solid black; ">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">COFINS (0.0%)</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
                <div class="row">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">Desconto Incondicionado</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
            </div>

            <div class="col-sm" style="border-right: 2px solid black;">
                <div class="row" style="border-bottom: 2px solid black; ">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">INSS (0.0%)</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
                <div class="row">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">Base cálculo</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;"> @currentNF.ValorTotal.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</p>
                </div>
            </div>

            <div class="col-sm" style="border-right: 2px solid black;">
                <div class="row" style="border-bottom: 2px solid black; ">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px;padding:0px">IR (0.0%)</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
                <div class="row">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">Alíquota (%)</p>
                        <p style="font-size:14px; text-align:right; margin-bottom:2px;">@currentNF.AliquotaIss.ToString()</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="row" style="border-bottom: 2px solid black; ">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">CSLL (0.0%)</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;">R$ 00,00</p>
                </div>
                <div class="row">
                    <p style="font-size:10px; text-align:center; margin-bottom:2px; padding:0px">Valor do ISS</p>
                    <p style="font-size:14px; text-align:right; margin-bottom:2px;"> @currentNF.ValorIss.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</p>
                </div>
            </div>
        </div>

        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <p style="font-size:12px; margin-bottom: 0px">VALOR LIQUIDO  @currentNF.ValorTotal.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</p>
            
        </div>

        <div class="row" style=" border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;">
            <div class="row">
                <div style="text-align:center; font-size: 14px; font-weight:bold">
                    Outras Informações
                </div>
            </div>
            <div class="col-sm">
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Data de vencimento do ISS desta NFSd: @Convert.ToDateTime(currentNF.DataEmissao).AddDays(15).ToShortDateString();
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Nota fiscal referente ao Mês: @Convert.ToDateTime(@currentNF.DataEmissao).Month.ToString()/@Convert.ToDateTime(@currentNF.DataEmissao).Year.ToString() ;
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Regime de tributação: Simples Nacional
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Esta NFSd foi emitida com base no Art. 150 da Lei n° 023/2020.
                </p>

            </div>
            <div class="col-sm">
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Local da prestação do serviço: PARAUAPEBAS - PA
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Situação Tributária: Tributável
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Tipo recolhimento: ISS PRÓPRIO
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Responsável: ISS A RECOLHER PELO PRESTADOR
                </p>
                <p style="font-size:10.5px; text-align:left; margin-bottom:2px;">
                    Tributação do serviço: TRIBUTÁVEL NO MUNICÍPIO
                </p>
            </div>
            <div class="row">
                <p style="font-size:10px; text-align:left; margin-bottom:2px;">
                    Serviço: 08.01 - Ensino regular pré escolar, fundamental, médio e superior.
                </p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>


}


@code 
{
    [Parameter]
    public string idNota { get; set; } = null;

    [Inject]
    public INFService nfService { get; set; }

    [Parameter]
    public NotaFiscal currentNF { get; set; } = null;

    public Fornecedor currentFornecedor { get; set; } = null;
    public Cliente currentCliente { get; set; } = null;

    public string imageQrCode { get; set; } = null;


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (idNota != null)
            {
                var nota = await nfService.GetNotaFiscalById(Guid.Parse(idNota));
                currentNF = nota;
                currentCliente = await clienteService.Get(currentNF.ClienteId);
                currentFornecedor = await fornecedorService.Get(currentNF.FornecedorId);
                string stringBase64 = Convert.ToBase64String(currentNF.QrCodeImage);
                imageQrCode = $"data:image/jpg;base64, {stringBase64}";

            }
        }
        catch (Exception)
        {
        }
    }





}